@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2864AD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: var(--primary);
}

.high-contrast {
  --background: #000000 !important;
  --foreground: #ffff00 !important;
  --primary: #ffff00 !important;
}

.high-contrast body {
  background-color: #000 !important;
  color: #ff0 !important;
}

.high-contrast * {
  border-color: #ff0 !important;
  background-color: #000 !important;
  color: #ff0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.high-contrast a, .high-contrast button {
  text-decoration: underline !important;
}

.high-contrast img, .high-contrast iframe {
  filter: grayscale(100%) contrast(150%) !important;
}
